.frameWrapper {
  height: 311px;
  width: 303px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .frame {
    position: absolute;
  }

  .text {
    font-size: 60px;
  }

  .imageWrapper {
    position: relative;
    top: -4px;
    width: 298px;
    height: 298px;
    overflow: hidden;
    border-radius: 50%;
    .img {
      // width: 100%;
      height: 100%;
    }
  }
}
